@model IEnumerable<MVCONLYSales.Models.ViewModel.Shop.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc
@using PagedList
<h2>Products</h2>

@using (Html.BeginForm("Products","Shop",FormMethod.Get))
{
    
    <text>Search By: Category</text>
    @Html.DropDownList("CategotyName", ViewBag.Categories as SelectList, "All")
    <input type="submit" value="search"/> 
}

@*<select id="SelectedCategory" name="SelectedCategory">
        <option value="0">All</option>

        @Html.DropDownListFor(model => ViewBag.Categories.CategoryId, ViewBag.Categories.Categories, "Select Category", new { @class = "form-control" })
            @foreach (var item in ViewBag.Categories)
            {
                @Html.DropDownListFor(item.Value, item.Categories, "Select Category", new { @class = "form-control" })
                if (ViewBag.SelectedCat == item.Value)
                {
                    <option selected="selected" value="@item.Value">@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
    </select>*@
<br />
<p>
    @Html.ActionLink("Add New Product", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>

        <th></th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @product.ProductName
            </td>
            <td>
                @product.Description
            </td>
            <td>
                $@product.Price
            </td>
            <td>
                <a href="/admin/shop/EditProduct/@product.ProductId">
                    <img src="~/Images/Uploads/Products/@product.ProductId/Thumbs/@product.ImageUrl" />
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = product.ProductId }) |

                @Html.ActionLink("Delete", "DeleteProduct", new { id = product.ProductId })
            </td>
        </tr>
    }


</table>
@*@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Products", new { page, catId = ViewBag.SelectedCat }))*@
<div>
    <input type="text" id="hiddeninput" />

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#CategotyName').on("change", function () {
                $('#hiddeninput').attr("value", $(this).val());
                //alert($(this).val());

            });
        });
    </script>
}